@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif
}

.container{
    padding: 32px;
}


.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

ul{
    list-style: none;
}

/*NAVIGATION*/

#navbar{
    padding: 32px;
}

.Logo{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-weight: 900;
    border-bottom-width: 0px;
    font-size: 1.5rem !important;
    margin-left: 0px !important;
}

.purple{
    color: #6415ff;
    font-weight: bolder;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__img{
    width: 2.5rem;
    margin-right: 0.75rem;
}

.nav__links{
    display: flex;
}

.nav__link{
    text-decoration: none;
    color: #243E63;
    font-size: 14px;
    font-weight: 600;
    margin: 0 24px 0 48px;
    padding: 0 0 4px;
}

.nvlk{
    margin-left: 3rem !important;
}

.nav__btn{
    color: white;
    background-color: #6415ff;
    border-radius: 9999px;
    padding: 12px 32px;
    font
}

/*MAIN*/

#main{
    padding: 32px;
}
