@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif
}

.entire__container{
    padding: 32px;
}


.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

ul{
    list-style: none;
}

h1{
    font-size: 3rem;
}

input{
    width: 100%;
    border-radius: 9999px;
    padding-left: 2rem;
    font-weight: 500;
    border: none;
}

button{
    border: none;
    width: 10rem;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin-right: 0.5rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 9999px;
    --tw-bg-opacity:1;
    background-color: rgb(100 21 255 / var(--tw-bg-opacity));
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 700;
    --tw-text-opacity:1;
    color: rgb(247 250 252 / var(--tw-text-opacity));

}

p{
    color: #A0AEC0;
    font: 12px;
    font-weight: 500;
}

/*NAVIGATION*/

.nav{
    display: flex;

    
}

.Logo{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-weight: 900;
    border-bottom-width: 0px;
    font-size: 1.5rem !important;
    margin-left: 0px !important;
}

.purple{
    color: #6415ff;
    font-weight: bolder;
}

.navbar__links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 400px;
}

.nav__img{
    width: 2.5rem;
    margin-right: 0.75rem;
}

.nav__links{
    display: flex;
}

.nav__link{
    text-decoration: none;
    color: #243E63;
    font-size: 14px;
    font-weight: 600;
   /* margin: 0 24px 0 48px;
    padding: 0 0 4px;*/
    padding: 0 24px;
    cursor: pointer;
    border-bottom-width: 2px;
    border-color: transparent;
    font-weight: 600;
}

.nav__link:hover{
    color: #6415ff;
    text-decoration: underline;
    transition: 300ms all ease;
}

.nvlk{
    margin-left: 3rem !important;
}

.nav__btn{
    color: white;
    background-color: #6415ff;
    border-radius: 9999px;
    padding: 12px 32px;
    cursor: pointer;
}

.nav__btn:hover{
    background-color: #3f119b;
    color: white;
    text-decoration: none;
    transition: 300ms all ease;
}

.logo-text__nav{
    display: flex;
}

.purple__TReact{
    color: black;
    cursor: pointer;
}

.purple__TReact:hover{
    color: #6415ff;
    transition: 300ms all ease;
}

/*MAIN*/

#main{
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.first_para{
    margin: 32px 0px;
    color: #243E63;
    font-weight: 600;
    font-size: 18px;
}

.getStarted{
    border: 1px solid lightgray;
    border-radius: 9999px;
    display: flex;
    flex-direction: row;
    padding: 2px;
}

.customers{
    margin: 80px 0 0;
}

.customers__img{
    margin: 16px 0 0;
    padding: 0 64px 0 0;
    width: 100%;
    opacity: 0.5;
}

.main__img-big{
    width: 100%;
    padding-left: 60px;
    padding-top: 80px;
}

.main__container{
    display: flex;
    justify-content: flex-end;
}

.right{
    padding-right: 20px;
}

/*FEATURES*/

.features__row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.features__container{
    padding: 80px;
}

